.FullSize
{
    height: 100vh;
    width: 100%;
    background-color: #4a7abc;
    padding: 20px;
    padding-top: 6em
}
.input_control 
{
    background-color: #f3f3f3;
}
.sign-up-title 
{
    color: #4a7abc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}