
@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper text-center">
    <h1 class="text-danger font-weight-bold">Site Under Construction</h1>
    <hr class="text-danger" />
    <h1>Welcome to the home page</h1>
    <div>Todays is @DateTime.UtcNow.ToLongDateString().</div>
</div>