@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Admin | Users";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead class="bg-gray-light rounded-pill">
                    <tr>
                        <th>SN</th>
                        <th>Client ID</th>
                        <th>First Name</th>
                        <th>First Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>001</td>
                        <td>#12345</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td><a asp-controller="Home" asp-area="Admin" asp-action="UsersDetails"><i class="fas fa-ellipsis-v"></i></a></td>
                    </tr>
                    <tr>
                        <td>002</td>
                        <td>#12345</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td><a asp-controller="Home" asp-area="Admin" asp-action="UsersDetails"><i class="fas fa-ellipsis-v"></i></a></td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>#12345</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td><a asp-controller="Home" asp-area="Admin" asp-action="UsersDetails"><i class="fas fa-ellipsis-v"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

